{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="lead">Log in</div>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Log in</button>
</form>
<br />
<a href="{% url 'account_reset_password' %}">Forgot Password?</a>
{% endblock content %}