{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}

{% block content %}
<h2>Confirm Log Out</h2>
<p>Are you sure you want to log out now?</p>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-danger" type="submit">Logout</button>
  <button class="btn backLink ml-2">Go Back</button>
</form>
{% endblock content %}