{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<h1>Reset Link Sent</h1>
<p>We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.</p>
{% endblock content %}
