{% extends 'base.html' %}

{% block title %} Prediction page{% endblock %}

{% block content %}

{% comment %} <div class="lead">
<span class="h2">65</span> predicted malaria cases.
</div> 
<br>
<div class="row">
    <div class="col-sm-12 text-left">
        <button class="btn btn-primary btn-md">Go Back</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary btn-md">Home</button>
    </div>
</div>

{% endblock content %}  {% endcomment %}

Input below <span style="">last 8 consecutive weeks</span> to predict number of cases for 9th week:
<br>
<hr>
<div class="row">
    <div class="col-sm-12 text-left">
        Click here to autofill with latest data of the last 8 weeks &nbsp; <button class="btn btn-success btn-md">Autofill</button>
    </div>
</div>
<table id="predict" class="display" style="width:100%">
        <thead>
            <tr>
                <th style="padding:10pt">Week #</th>
                <th>Number of Cases Reported</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding:10pt">1</td>
                <td><input type="text" id="row-1-age" name="row-1-age"  style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">2</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">3</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">4</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">5</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">6</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">7</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
            <tr>
                <td style="padding:10pt">8</td>
                <td><input type="text" id="row-1-age" name="row-1-age" style="text-align:center" value=""></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="row">
    <div class="col-sm-12 text-left">
        <button class="btn btn-primary btn-md">Predict Cases</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-normal btn-md">Back to Home</button>
    </div>
</div>
{% endblock content %}

{% comment %} {% extends 'base.html' %}

{% block title %}  page{% endblock %}

{% block content %}

<div class="jumbotron">
    <p class="lead">Disease Surveillance System is a health information system involving the collection and analysis of data recorded in different departments or sections of the Regional Hospital Limbe (RHL) reporting diseases, deaths, risk factors or any health-related events in a given period.</p>
    <p class="lead">
        Click to download an Excel template  to use offline &nbsp; <a class="btn btn-success btn-md" href="" role="button">Download Template</a>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 text-left">
        <button class="btn btn-normal btn-lg">Upload Report</button>
        <button class="btn btn-normal btn-lg">Create Report</button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12 text-left">
        <button class="btn btn-normal btn-lg">Archived Reports</button>
        <button class="btn btn-normal btn-lg">Report Lists</button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12 text-left">
        <button class="btn btn-normal btn-lg">Disease List</button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12 text-left">
        <button class="btn btn-warning btn-lg">Predict Malaria Incidences</button>
    </div>
</div>
{% endblock content %} {% endcomment %}