{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">New entry</div>
    <div class="card-body">
        <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <button class="btn btn-success" type="submit">Save <span class="fa-save fa" style="padding-left:10px;"></span> </button>
            <button class="backLink btn btn-normal">Cancel<span class="fa-times-circle fa" style="padding-left:10px;"></span> </button>
        </form>
    </div>
</div>
{% endblock %}