{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">Update Entry</div>
    <div class="card-body">
        <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <button class="btn btn-info" type="submit">Update</button>
            <button class="backLink btn btn-normal">Go Back</button>
        </form>
    </div>
</div>
{% endblock %}