{% extends 'base.html' %}

{% block title %}Disease{% endblock %}

{% block content %}
<div class="lead">List of diseases</div>
<br />
<div class="card">
    <div class="card-body">
    {% if object_list %}

    <table id="diseaseList" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;">#</th>
                <th>Name</th>
                <th style="text-align:center;"></th>
            </tr>
        </thead>
        <tbody>
            {% for disease in object_list %}
            <tr>
                <td style="text-align:center;">{{ forloop.counter }}</td>
                <td><a style="display:block; color: inherit;
                    text-decoration: inherit;" href="{% url 'disease_detail' disease.pk %}">{{ disease.name }}</a></td>
                <td style="text-align:center;">
                    <a class="btn btn-primary" href="{% url 'disease_detail' disease.pk %}"><span class="fa-eye fa" style="color:white;"></span></a>

                    <a class="btn btn-info" href="{% url 'disease_edit' disease.pk %}" style="color:white;"><span class="fa-pencil fa"></span></a>

                    <a href="{% url 'disease_delete' disease.pk %}" class="btn btn-danger"><span class="fa-times fa" style="color:white;"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
         
    {% else %}
    <p class="lead">No items to display!</p>
    {% endif %}
    <br/>
    
    <p><a href="{% url 'disease_new' %}" class="btn btn-success btn-lg">New Entry<span style="padding-left:10px;" class="fa-plus-circle fa"></span></a></p>
    </div>
</div>
<br/><br/><br/>
{% endblock content %}