{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">View Entry</div>
    <div class="card-body">
        <p class="lead">{{ object.name }}</p>
        <p><a href="{% url 'disease_edit' disease.pk %}" class="btn btn-info">Edit</a> <a href="{% url 'disease_delete' disease.pk %}" class="btn btn-danger">Delete</a></p>
        <p>Back to <a href="{% url 'disease_list' %}">Back to List of Diseases</a>.</p>
    </div>
</div>

<br/>
<p><a href="{% url 'disease_new' %}" class="btn btn-success">Add New Entry</a></p>

{% endblock content %}