{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">Delete Entry</div>
    <div class="card-body">
    <form action="" method="post">{% csrf_token %}
        <p class="text-muted">Are you sure you want to delete this entry?</p> 
        <p class="lead">{{ disease.name }}</p>
        <button class="btn btn-danger" type="submit">Confirm</button>
        <button class="backLink btn btn-normal">Go Back</button>
    </form>
    </div>
</div>
{% endblock %}