{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Disease Surveillance System</h1>
    <p class="lead">Disease Surveillance System is a health information system involving the collection and analysis of data recorded in different departments or sections of the Regional Hospital Limbe (RHL) reporting diseases, deaths, risk factors or any health-related events in a given period.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="" role="button">Upload Report</a>
    </p>
</div>
<div class="card">
    <ul>
        <li><a href="{% url 'disease_list' %}" class="link">List of Diseases</a></li>
        <li><a href="{% url 'incident_list' %}" class="link">All Incidences Reported</a></li>
        <li><a href="{% url 'report_list' %}" class="link">List of Reports</a></li>
        <li><a href="{% url 'report_upload' %}" class="link">Upload Weekly Report with Template</a></li>
        <li><a href="{% url 'report_new' %}" class="link">Create Weekly Report</a></li>
        <li>Download template <a href="{% url 'report_new' %}" class="link">here</a></li><br><br>
        {% comment %} <li>Download template<input type="button" class="btn btn-lg" value="Download" onclick="window.open('static/docs/report_template.xlsx')"></li> {% endcomment %}
    </ul>
</div>
{% endblock %}