{% extends 'base.html' %}

{% block title %}Incidents{% endblock %}

{% block content %}
<div class="lead">History of Disease Incidences</div>
<br />
<div class="card">
    <div class="card-body">
    {% if object_list %}

    <table id="incidentList" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Year</th>
                <th>Week</th>
                <th>Disease</th>
                <th>Cases</th>
                <th>Deaths</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ incident.year }}</td>
                <td>{{ incident.week }}</td>
                <td>{{ incident.disease.name }}</td>
                <td>{{ incident.cases }}</td>
                <td>{{ incident.deaths }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>#</td>
                <th>Year</th>
                <th>Week</th>
                <th>Disease</th>
                <th>Cases</th>
                <th>Deaths</th>
            </tr>
        </tfoot>
    </table>
         
    {% else %}
    <p class="h3-danger">No items to display!</p>
    {% endif %}
    <br/>
    <p><a href="{% url 'report_upload' %}" class="btn btn-success btn-lg">Upload Report <span style="padding-left:10px;" class="fa-upload fa"></span> </a></p>
</div>
</div>
<br/><br/><br/>
{% endblock content %}