{% extends 'base.html' %}

{% block content %}
<p>Click here to download a Template&nbsp;&nbsp;&nbsp;<a href="{% url 'report_list' %}" class="btn btn-success">Download template</a></p>
<div class="card">
    <div class="card-header">Upload a filled template</div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'report_preview' %}">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button style="float:right;" type="submit" class="btn btn-normal">Upload</button>
        </form>
    </div>
</div>
<br/>
<p><a href="{% url 'report_list' %}" class="btn btn-primary">Archived Reports List</a></p>
{% endblock %}