{% extends 'base.html' %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="lead">Report Preview</div>
<br />
<div class="card">
    <div class="card-body">
    <table id="reportList" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;">#</th>
                <th>Dates the Week Falls in</th>
                <th>EpiWeek</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for key in list %}
            <tr>
                <td style="text-align:center;">{{ forloop.counter }}</td>
                <td><a href="#">Full Here (clickable link to preview)</a></td>
                <td>{{ key.week }}</td>
                <td>{{ key.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>#</td>
                <th></th>
                <th>EpiWeek</th>
                <th>Year</th>
            </tr>
        </tfoot>
    </table>
    
    </div>
</div>
<br/><br/><br/>
{% endblock content %}