{% extends 'base.html' %}

{% block content %}
<div class="lead">Create a new report</div>
<br />
<div class="card">
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-5">Epidemiological week</div>
                <div class="col">
                    <div style="float:right;">
                        <select name="week_id" id="weekSelect">
                            <option value=""></option>
                        {% for x in range %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <input class="from" name="from" placeholder="Start Date" readonly />
                </div>
                <div class="col">
                    <input name="to" class="to" placeholder="End Date" readonly />
                </div>
            </div>
            <br />
            <!--
            <div style="float:right;"><input name="to" class="to" width="210" placeholder="End Date" readonly /><input class="from" width="210" name="from" placeholder="Start Date" readonly /></div> 
            <br />
            -->
            <table id="newReport" class="table table-striped table-bordered table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center">No.</th>
                        <th>Disease Name</th>
                        <th style="text-align: center">Number of Cases</th>
                        <th style="text-align: center">Number of Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disease in diseases %}
                    <tr>
                        <td style="text-align: center">{{ forloop.counter }}</td>
                        <td>{{ disease.name }}</td>
                        <td><input style="text-align: center" min="0" class="input_edit" type="number" value="" name="{{ disease.name|add:'00' }}"></td>
                        <td><input style="text-align: center" min="0" class="input_edit" type="number" value="" name="{{ disease.name|add:'01' }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button id="button" class="btn btn-danger" ><span class="fa-trash-o fa" style="padding-right:10px;"></span>Delete Row</button>
            <button style="float:right; margin-top:10px;" type="submit" class="btn btn-primary">
                Submit Report
                <span class="fa-send fa" style="padding-left:10px;"></span>
            </button>
        </form>
        <br /><br />
    </div>
</div>
<br/>
<p><a href="{% url 'disease_new' %}" class="btn btn-success btn-lg">Add New Disease<span style="padding-left:10px;" class="fa-plus-circle fa"></span></a></p><br /><br />
{% endblock %}