{% extends 'base.html' %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="lead">Report Preview</div>
<br />
<div class="card">
    <div class="card-body">
    <table id="newReport" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;">#</th>
                <th>Name</th>
                <th>Number of Cases</th>
                <th>Number of Diseases</th>
            </tr>
        </thead>
        <tbody>
            {% for name, cases, deaths in report %}
            <tr>
                <td style="text-align:center;">{{ forloop.counter }}</td>
                <td>{{ name }}</td>
                <td><input style="text-align: center" min="0" class="input_edit" type="number" value="{{ cases }}"></td>
                <td><input style="text-align: center" min="0" class="input_edit" type="number" value="{{ deaths }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
</div>
<br/><br/><br/>
{% endblock content %}