.nav-text-link {
    font-size: 90%;
}

.error-details {
    padding-bottom: 5px;
}

.jumbotron {
    padding-bottom:10px;
    padding-top:20px;
}

.trade {
    font-size: 14px;
    color: antiquewhite;
    text-align: center;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.input_edit {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}


#button {
    float:left;
    margin-top: 10pt;
}

.test {
    color: red;
}