{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Page Not Found</h1>
                <div class="error-details">
                    Sorry! The page you are looking for could not be found.
                </div>
                <div class="error-actions">
                    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home </a>
                    <a href="{% url 'home' %}" class="btn btn-default">Contact Admin</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}