{% extends 'base.html' %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Internal Server Error</h1>
                <div class="error-details">
                    Please try again at a later time. If error persists feel free to contact us.
                </div>
                <div class="error-actions">
                    <a href="{% url 'home' %}" class="btn btn-primary">Contact Admin</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}